<h1> Previsioni Meteo </h1>
<div class="label-container">
  <label class="my-1" for="selectedCity">Inserisci una città</label>
  <input type="text" class="form-control" id="selectedCity" name="selectedCity" [(ngModel)]="selectedCity">
  <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
    <button class="btn btn-primary me-md-2" type="button" (click)='showCityWeather()'>Seleziona Città</button>
</div>


<div *ngIf="selectedCityWeather$ | async as detail">
  <h2 class="text-center">{{detail.name}}</h2>
  <div class="d-flex justify-content-center">
    <h3 class="text-center me-3">{{detail.temp}}<sup>°C</sup></h3>
    <h4 class="text-center me-3">{{detail.description}}°</h4>
    <h4 class="text-center me-3">{{detail.state}}</h4>
  <img src="http://openweathermap.org/img/wn/{{detail.icon}}.png">
</div>
</div>
